:root {
    --primary-color: #c19a6b;
    --secondary-color: #f4e1d2;
    --accent-color: #d3c0b0;
    --font-family-primary: 'Times New Roman', Times, serif;
    --font-family-secondary: 'Arial', sans-serif;

    --crusty-bread: #7d6029;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', serif;
    border-radius: 0px 0px 20px 20px;
    border-left: 2px solid var(--crusty-bread);
    border-right: 2px solid var(--crusty-bread);
    border-bottom: 5px solid var(--crusty-bread);
}

header .tagline {
    font-size: 1.2em;
    font-style: italic;
    color: #000;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    border-radius: 20px 20px 0px 0px;
    margin: 1px;
}

nav {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    font-family: var(--font-family-secondary);
    border-radius: 20px 20px 20px 20px;
}

nav a {
    margin: 2px 8px 2px 8px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 5px;
}

main {
    padding: 20px;
    font-family: var(--font-family-primary);

}
.content-section {
    /*display: none;*/
    margin-bottom: 40px;
}

.announcement-box {
    background-color: var(--accent-color);
    padding: 15px;
    border: 5px solid var(--crusty-bread);
    text-align: center;
    margin-bottom: 20px;
    border-radius: 25px;
}

.announcement-box h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.announcement-box p {
    font-size: 1.2em;
}

.product-showcase {
    text-align: center;
    margin-bottom: 20px;
}

.price-tag {
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 10px;
    border: 2px solid #000;
    margin-top: 10px;
}

.description-box {
    background-color: var(--accent-color);
    padding: 15px;
    border: 2px solid #000;
}

.features-list ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

.fancy-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: #800000;
}

footer {
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    font-family: var(--font-family-secondary);
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

